*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding-top: 0px;
    padding-bottom: 0px;
}
.nav_menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    font-size: 1rem;
    padding: 2rem;
    background-color: rgba(255, 255, 2555, .3);
    transition: .5s;
    backdrop-filter: blur(10px);
}
.nav_toggle {
    color: var(--white-color);
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 2rem;
}
a.nav_link{
    color: var(--first-color);
}
.show {
    right: 0;
    top: 8%;
    height: 60vh;
    width: 50%;
}
.show .nav_list{
    height: 60vh;
}
.active::after {
    top: 2.5rem;
}
.active::after{
    position: absolute;
    content: "";
    width: 100%;
    height: .18rem;
    left: 0;
    top: 1.3rem;
    background-color: var(--first-color);
}
.nav_item {
    margin-bottom: var(--mb-4);
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}
.home_title span{
    position: absolute;
    left: 10%;
    top: 20%;
    font-size: 5rem;
}
img.home_img{
    position: absolute;
    left: 40%;
    bottom: 0;
    width: 35s0px;
}
.section-title::after {
    position: absolute;
    content: "";
    width: 32px;
    height: .18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
}
.section-title::after {
    position: absolute;
    content: "";
    width: 32px;
    height: .18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 1.8rem;
    background-color: var(--first-color);
}
.home_scroll-link {
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    color: var(--white-color);
    margin-top: 18rem;
}
h3.skills_subtitle{
    margin-left: 3rem;
}
span.skills_name{
    margin-left: 2rem;
}
.skills_img img{
    width: 95%;
    margin-left: 1rem;
    margin-right: 1rem;
}
.portfolio_img img{
    width: 95%;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
}
h3.contact_subtitle{
    margin-left: 3rem;
}
span.contact_text{
    margin-left: 2rem;
    font-weight: bold;
}
input#name,#email.contact_input{
    width: 87%;
    margin-left: 2rem;
}
textarea#message.contact_input{
    width: 87%;
    margin-left: 2rem;
    margin-bottom: 0;
}
input.contact_button{
    margin-left: 40%;
}
div.footer_container{
    padding: 1.5rem 1rem;
}
p.footer_text{
    color: grey;
}
a.footer_link{
    color: grey;
    margin-top: 1rem;
}
a.footer_social i{
    color: grey;
    margin-right: 2rem;
}
a.footer_social i:hover{
    color: var(--first-color);
    font-size: 2rem;
}
a.up i{
    font-size: 2rem;
    color: grey;
    margin-left: 12rem;
}
a.up i:hover{
    color: var(--first-color);
    font-size: 1rem;
}

.popup{
    width: 800px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 950%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: visible;
    transition: transform 0.4s, top 0.4s;
}
.open-popup{
    visibility: visible;
    top: 100%;
    transform: translate(-50%,-50%) scale(1);
}

.popup img{
    position: absolute;
    left: 45%;
    top: -5%;
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}
.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2)
}