/* google font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,300&family=Philosopher:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,200;0,400;0,600;0,700;0,800;0,900;1,200&family=Roboto:wght@400;500;700&display=swap');



/* variable css */
:root{
    --header-height: 3rem;
    --font-medium: 500;
}

/* colors */
:root{
    --first-color: #0b0b47;
    --white-color: #fafaff;
    --dark-color: #2a3b47;
    --text-color: #697477;
}

/* fuente y */
:root{
    --body-font: 'Montserrat', sans-serif;
    --big-font-size: 6.25rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
}

@media screen and (min-width: 768px){
    :root{
        --big-font-size: 10.5rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}

/* margins */
:root{
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
}

/* z index */
:root{
    --z-fixed: 100;
}

/* base */
*,::before,::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
    line-height: 1.6;
}
h1,h2,p{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--text-color);
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}

/* class css */
.section{
    padding: 0;
    margin: 0;
}
.section-title{
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--dark-color);
    margin: var(--mb-4) 0;
    text-align: center;
}
.section-title::after{
    position: absolute;
    content: "";
    width: 32px;
    height: .18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
}

/* layout */
.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}
.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--first-color);
}

/* nav */
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 768px){
    .nav_menu{
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: rgba(255, 255, 2555, .3);
        transition: .5s;
        backdrop-filter: blur(10px);
    }
}
.nav_item{
    margin-bottom: var(--mb-4);
}
.nav_link{
    position: relative;
    color: black;
}
.nav_link:hover{
    color: var(--white-color);
}
.nav_logo{
    color: var(--white-color);
    font-weight: bold;
}
.nav_toggle{
    color: var(--white-color);
    font-size: 1.5rem;
    cursor: pointer;
}

/* show menu */
.show{
    right: 0;
}

/* active menu */
.active::after{
    position: absolute;
    content: "";
    width: 100%;
    height: .18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}

/* home */
.home{
    position: relative;
    background-color: var(--first-color);
    overflow: hidden;
}
.home_container{
    height: calc(100vh - var(--header-height));
    row-gap: 5rem;
}
.home_title{
    align-self: flex-end;
    font-size: var(--big-font-size);
    color: var(--white-color);
    line-height: .8;
    margin-top: 4rem;
}
.home_title span{
    text-shadow: 0 20px 25px rgba(0, 0, 0, .5);
}
.home_scroll{
    align-self: flex-end;
    padding-bottom: var(--mb-4);
}
.home_scroll-link{
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    color: var(--white-color);
    margin-top: 12rem;
}
.home_img{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 340px;
}

/* about */
.about_container{
    justify-items: center;
    row-gap: 2rem;
    text-align: center;
}
.about_img{
    display: inline-flex;
    justify-content: center;
    padding-top: 1rem;
    width: 120px;
    height: 120px;
    background-color: var(--first-color);
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1.5rem;
}
.about_img img{
    width: 100px;
}
.about_subtitle{
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-1);
}
.about_text{
    margin-bottom: var(--mb-4);
}
.about_profession{
    display: block;
    margin-bottom: var(--mb-4);
}
.about_social-icon{
    font-size: 1.4rem;
    margin: 0 var(--mb-1);
}
.about_social-icon:hover{
    color: var(--first-color);
}

/* skills */
.skills_container{
    row-gap: 2rem;
}
.skills_subtitle{
    color: var(--first-color);
    margin-bottom: var(--mb-3);
}
.skills_name{
    display: inline-block;
    font-size: var(--small-font-size);
    margin-right: var(--mb-2);
    margin-bottom: var(--mb-3);
    padding: .25rem .5rem;
    background-color: var(--white-color);
    border-radius: .25rem;
}
.skills_name:hover{
    background-color: var(--first-color);
    color: var(--white-color);
}
.skills_img img{
    border-radius: .5rem;
}

/* portfolio */
.portfolio{
    background-color: var(--white-color);
}
.portfolio_container{
    justify-items: center;
    row-gap: 2rem;
}
.portfolio_img{
    position: relative;
    overflow: hidden;
}
.portfolio_img img{
    border-radius: .5rem;
    margin-bottom: 1rem;
}
.portfolio_link{
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 2555, .3);
    border-radius: .5rem;
    cursor: pointer;
    backdrop-filter: blur(10px);
    transition: .3s;
}

.portfolio_img:hover .portfolio_link{
    bottom: 0;
}
.portfolio_link-name{
    color: var(--first-color);
    font-size: 1.5rem;
    font-weight: bold;
}

/* contact */
.contact_container{
    row-gap: 2rem;
}
.contact_subtitle{
    font-size: var(--normal-font-size);
    color: var(--first-color);
}
.contact_text{
    display: inline-block;
    margin-bottom: var(--mb-2);
}
.contact-inputs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
}
.contact_input{
    width: 100%;
    padding: .8rem;
    outline: none;
    border: 1.5px solid var(--dark-color);
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-4);
    border-radius: .5rem;
}
.contact_button{
    display: block;
    background-color: var(--first-color);
    color: var(--white-color);
    padding: .75rem 2.5rem;
    margin-left: 35%;
    border-radius: .5rem;
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    cursor: pointer;
    margin: 1rem;
    font-weight: bold;
}

/* footer */
.footer{
    background-color: var(--dark-color);
}
.footer_container{
    row-gap: 2rem;
}
.footer_title{
    font-size: var(--normal-font-size);
    color: var(--white-color);
    margin: 1rem 0;
}

.footer_link{
    padding: .25rem 0;
}
.footer_link:hover{
    color: var(--first-color);
}
.footer_social{
    font-size: 1.4rem;
    margin-right: var(--mb-1);
}
.footer_social:hover{
    color: var(--first-color);
}

/* media query */
@media screen and (min-width: 768px){
    body{
        margin: 0;
    }
    .section{
        padding-top: 4rem;
    }
    .section-title{
        margin-bottom: 3rem;
    }
    .section-title::after{
        width: 64px;
        top: 3rem;
    }

    .nav{
        height: calc(var(--header-height) + 1rem);
    }
    .nav_list{
        display: flex;
    }
    .nav_item{
        margin-left: var(--mb-4);
        margin-bottom: 0;
    }
    .nav_toggle{
        display: none;
    }
    .nav_link{
        color: var(--white-color);
    }
    .nav_link:hover{
        color: var(--white-color);
    }
    .active::after{
        background-color: var(--white-color);
    }

    .home_container{
        height: 100vh;
        grid-template-rows: 1.7fr 1fr;
        row-gap: 0;
    }
    .home_img{
        width: 520px;
        right: 10%;
    }

    .about_container{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        /* text-align: initial; */
        padding: 4rem 0;
    }

    .skills_container{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    .portfolio_container{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 2rem;
    }
    .contact_container{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    .contact_form{
        width: 380px;
    }

    .footer_container{
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
}

@media screen and (min-width: 1024){
    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 414px){
   
    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-family: 'Times New Roman', Times, serif;
    }

   
    main > *{
        width: 100vw;
    }

    .contact_form textarea{
        margin-bottom: 0;
    }

    .contact_button{
        display: block;
        background-color: var(--first-color);
        color: var(--white-color);
        padding: .75rem 2.5rem;
        margin-left: 35%;
        border-radius: .5rem;
        border: none;
        outline: none;
        font-size: var(--normal-font-size);
        cursor: pointer;
        margin: 1rem auto;
    }

    .footer{
        padding: 1.5rem 0;
    }

    .home_img{
        position: absolute;
        right: 0;
        bottom: 0;
        width: 350px;
        height: 75vh;
    }
    
    .nav_logo{
        color: var(--white-color);
        font-weight: bold;
        margin-left: 1.5rem;
    }

    .nav_toggle{
        margin-right: 1.5rem;
    }
   
    .home_title{
        margin-left: 1rem;
    }
    .about_profession{
        font-weight: bold;
    }
    .about_text{
        margin: 0 1rem;
    }
    .skills_subtitle{
        margin-left: 1rem;
    }
    .skills_img{
        margin: 0 1rem;
    }
    .portfolio_img{
        margin: 1rem 1rem;

    }
    .contact_subtitle, .contact_text{
        margin-left: 1rem;
    }
    .contact_form{
        margin: 0 1rem;
    }
    .contact_button{
        margin-bottom: 1.5rem;
    }
    .footer_title{
        margin-left: 1rem;
    }
    .footer_text{
        margin-left: 1rem;
        font-size: 1rem;
    }
    .footer_link{
        margin-left: 1rem;
        font-size: 1rem;
    }
    .footer_social{
        margin-left: 1rem;
    }
   
    .footer_data a .footer_social:hover{
        color: var(--first-color);
        cursor: pointer;
        transform: rotateY(180deg);
        transition: all .5s ease;
    }
    .about_social{
        margin-top: 1.5rem;
    }
    .home_scroll{
        align-self: flex-end;
        padding-bottom: var(--mb-4);
    }
    .home_scroll-link{
        writing-mode: vertical-lr;
        transform: rotate(-180deg);
        color: var(--white-color);
        margin-top: 8rem;
        margin-left: 1rem;
    }
}